body {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;

    min-height: 100vh;
    /* background-image: url(/img/background.jpg); */
    
    background-size: cover;
    background-position: center;
    padding-top: 80px;
    background: linear-gradient(to bottom left, var(--accent-color), black);
}