* {
    /* Variables */
    --main-bg-color: #202020;
    --secondary-bg-color: #171717;
    --accent-color: #017e82;
    --glass-color: rgba(255, 255, 255, 0.9);
    --text-color: black;
    

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html { 
    font-family: 'Lato', sans-serif;
    background: linear-gradient(to bottom left, var(--accent-color), black);
    color: var(--text-color);
}

.wrapper {
    width: 60%;
    margin: auto;
}

.rounded {
    border-radius: 5px;
    overflow: hidden;
}

.boxshadow{
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);    
}

h1 {
    font-size: 4rem;    
}

h2 {
    font-size: 3rem;
    padding: 5px;
}

h3 {
    padding: 5px;
}

.textbox {
    padding: 10px;
    margin: 10px;
    background: var(--glass-color);
    border-radius: 5px;
}

@media (max-width: 1000px) {
    .wrapper {
        width: 100%;
    }
}