footer {
    padding: 10px;
    align-self: end;
    color: white;
    background: rgba(0, 0, 0, 0.5);
}

footer ul {
    margin-top: auto;
    margin-bottom: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    
}

footer li {
    display: inline;
    justify-self: center;
}

footer nav{
    justify-self: center;
    padding: 10px;
    grid-gap: 20px;
}

footer nav a {
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--accent-color);
    
}

footer a:hover {
    color: white;
    transition: color 0.2s ease-in-out;
}