footer {
    align-self: end;
    
    padding: 10px;
    align-self: end;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
}

footer ul {
    margin-top: auto;
    margin-bottom: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: inherit;
    grid-gap: 0;
}

footer li {
    display: inline;
    justify-self: center;
    margin-top: auto;
    margin-bottom: auto;
}

footer nav{
    justify-self: center;
    padding: 10px;
    grid-gap: 20px;
}

footer nav a {
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--accent-color);
    transition: color 0.2s ease-in-out;
    
}

footer a:hover {
    color: white;
    transition: color 0.2s ease-in-out;
}

@media (max-width: 1000px){
    footer ul {
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
}