.game {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}

.game #overlay {
    background: var(--glass-color-dark);
    height: 100%;
}

.game #content {
    width: 60%;
    height: 100%;
    color: var(--text-color);
    /* padding: 50px; */
    padding-top: 80px;
    margin: auto;
    
}

.game ul {
    padding-left: 30px;
}

.game #title {
    text-align: center;
    margin-bottom: 30px;
    margin: auto;
}

.game #title li {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
}

.game h1 {
    font-size: 4em;
    text-align: center;
}

.game table {
    table-layout: fixed;
    justify-self: center;
    padding-top: 10px;
    margin: auto;
    text-align: left;
    width: 100%;
    /* font-size: 120%; */
}

.game td {
    padding: 3px;
}

.game h3 {
    padding-bottom: 0;
}

.game h4 {
    padding-top: 0;
}

.game .button {
    width: 100px;
}

@media (max-width: 1081px) {
    .game #content {
        width: 100%;
    }

    .game #title {
        width: 100%;
    }

    .game table {
        width: 100%;
    }
}
