header {
    /* position: fixed; */
    background: var(--glass-color); 
    width: 100%;
    top: 0;
    padding: 10px;
    z-index: 1;
    /* height: fit-content; */
    align-self: start;
    color: rgb(10, 10, 10);
}

header h1{
    font-size: 1.5rem;
    text-transform: uppercase;
}

header a {
    color: rgb(10, 10, 10);
}

header #grid {
    display: grid;
    /* align-items: end; */
}

header #branding {
    display: grid;
    grid-template-columns: 1fr 60px 1fr;
    grid-gap: 10px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

#name {
    justify-self: end;
    align-self: center;
    text-align: right;
}

#title {
    justify-self: start;
    align-self: center;
}

header #portrait {
    width: 100%;
    justify-self: center;
}