header {
    position: fixed;
    background: var(--glass-color-dark); 
    width: 100vw;
    padding: 5px;
    z-index: 1;
    align-self: start;
    
    height: min-content;
    overflow: hidden;
    /* background: rgba(255, 255, 255, 0.05); */
}

header h1{
    font-size: 1.4rem;
}

header a {
    /* color: rgb(10, 10, 10);
    color: white; */
    /* -webkit-text-stroke: 1px black; */
    color: white;
    --stroke-color: var(--glass-color-dark);
    text-shadow:
        -1px -1px 0 var(--stroke-color),  
        1px -1px 0 var(--stroke-color),
        -1px 1px 0 var(--stroke-color),
        1px 1px 0 var(--stroke-color);
}

.sticky {
    background: red;
}

header #branding {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-gap: 10px;
    align-items: center;
    border-radius: 3px;
    width: max-content;
    margin: auto;
}

header #logo {
    height: 50px;
    width: auto;
}

header #name {
    justify-self: end;
    text-align: right;
}

header #title {
    justify-self: start;
}