header {
    position: fixed;
    background: var(--glass-color); 
    width: 100%;
    top: 0;
    padding: 10px;
    /* height: 100px; */
}

header h1{
    font-size: 1.5rem;
    color: var(--text-color);
    text-transform: uppercase;
}



header #grid {
    display: grid;
    align-items: end;
}

header #branding {
    display: grid;
    grid-template-columns: 1fr 40px 1fr;
    grid-gap: 30px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

#name {
    justify-self: end;
    align-self: center;
    text-align: right;
}

#title {
    justify-self: start;
    align-self: center;
    
}

header #portrait {
    /* grid-area: port; */
    width: 100%;
    justify-self: center;
    
}

/* header .wrapper {
    width: 60%;
} */

@media (max-width: 1000px) {
    /* header .wrapper {
        width: 100%;
    } */
}