nav{
    justify-self: center;
    background: red;
}

nav ul {
    width: max-content;
    background: teal;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    /* justify-content: center; */
    /* justify-self: center; */

}

nav li {
    display: inline;
    /* justify-self: center; */
    padding: 0 5px 0 5px;
}

nav a {
    font-weight: bold;
    /* font-size: 1rem; */
    /* text-decoration: none; */
    text-transform: uppercase;
    /* color: var(--accent-color); */
    /* transition: color 0.2s ease-in-out; */
    
}

/* nav a:hover {
    color: white;
    transition: color 0.2s ease-in-out;
} */