section.showcase {
    margin: 0;
    padding: 0;
    overflow: hidden;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0;
}

section.showcase a{
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

section.showcase div {
    padding: 0;
    margin: 0;
    background: white;
    height: 500px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

section.showcase img{
    width: 100%;
    height: 500px;

    padding: 0;
    margin: 0;
}