section.showcase {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 33%);
    padding: 20px;
    justify-content: center;
}

section.showcase a {
    text-decoration: none;
}

.card {
    display: grid;

    height: 80vh;
    background-position: center;
    background-size: cover;
    width: 100%;
    align-content: end;
    overflow: hidden;
}

/* Overlay */

section.showcase #overlay {
    display: grid;
    grid-template-columns: 1fr;
    color: var(--text-color);
    height: 100%;
}

section.showcase #title {
    /* justify-self: center; */
    padding: 10px;
    align-self: start;
    /* text-align: center; */
    /* float: left; */

    font-size: 2rem;
    max-width: 100%;
    text-transform: uppercase;
}

section.showcase #description {
    background: var(--glass-color);
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.3);
    position: relative;
}

section.showcase p {
    height: 0px;
    transition: height 0.2s ease-in-out;
    padding: 0 10px 0 10px;
}

.card:hover p {
    height: 200px;
    transition: height 0.3s ease-in-out;

    padding: 0 10px 0 10px;
    
    text-align: justify;
}

section.showcase #logo {
    width: 100px;
    position: absolute;
    float: right;
    right: 10px;
    top: -70px;
}


/* Tabs */

section.showcase ul {
    align-self: end;
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: left;
    width: 70%;
    grid-gap: 10px;
    align-self: end;
    padding-left: 10px;
    padding-right: 10px;
    color: var(--text-color);
    font-weight: bold;
}

section.showcase li {
    /* align-self: center; */
    /* justify-self: center; */
    display: inline;
    width: 100%;
    min-width: 50px;
    text-align: center;
    font-size: 1.7rem;
    margin-top: auto;

    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    background: var(--glass-color);
    padding: 5px;

}


@media (max-width: 1000px) {
    section.showcase {
        grid-template-columns: 1fr;
    }

    .card {
        height: 40vh;
    }

    section.showcase #logo {
        font-size: 3rem;
    }
}