section.showcase {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

section.showcase div {
    padding: 0;
    margin: 0;
    background: white;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background: no-repeat center center relative;
    
    height: 100%;
    z-index: -1;

    box-shadow: inset 12px 0 16px 0 rgba(0, 0, 0, 0.24), inset 17px 0 50px 0 rgba(0, 0, 0, 0.19);    
}

/* Branding */

section.showcase div.branding{
    display: flex;
    background: no-repeat center center fixed;
    width: 100%;
    background: transparent;
    font-size: 40px;
    color: white;
    /* filter: drop-shadow(16px 16px 20px black); */
    text-shadow: 16px 16px 30px black;

}

section.showcase div.branding img{
    float: left;
    height: 30%;
}

section.showcase div.branding h1{
    align-self: center;
    padding-left: 70px;
    text-transform: uppercase;
}