---
layout: default
---
<div class="wrapper">
<section class="showcase">

    {% for game in site.games %}
    <a class="boxshadow" href="{{site.baseurl}}{{game.url}}">

        <div class="card rounded" style="background-image: url({{site.baseurl}}/{{game.coverImg}})">

            <!-- {% if game.logo %}
                <img id="logo" src="{{game.logo}}">
            {% else %} -->
            <!-- {% endif %} -->            

            <div id="overlay">
                <div id="tabs">
                    <ul>
                        {% if game.roles contains 'Gameplay' %}<li>Gameplay</li>{% endif %}
                        {% if game.roles contains 'AI' %} <li>AI</li> {% endif %}
                        {% if game.roles contains 'UI' %}<li>UI</li>{% endif %}
                        {% if game.roles contains 'Tools' %}<li>Tools</li>{% endif %}
                    </ul>
                </div>
                <div id="description">
                    <div>
                        <img id="logo" src="{{game.logo}}">
                        <h2 id="title">{{game.title}}</h2>
                    </div>

                    <p>{{game.meta}}</p>

                </div>
            </div>
        </div>
    </a>
    {% endfor %}

    
</section>
</div>