<div class="wrapper">
<nav>
    <ul>
        <li> Alexander Lövberg <br> +46 (0) 730 36 3504</li>
        <li><a href="{{site.baseurl}}/index.html">Projects</a></li>
        <li><a href="{{site.baseurl}}/data/AlexanderLovbergCV.pdf">CV</a></li>
        <li><a href="https://twitter.com/LeafMountain">Twitter</a></li>
        <li><a href="https://www.linkedin.com/in/alexanderlovberg/">LinkedIn</a></li>
        <li><a href="mailto: lovbergalexander@gmail.com">Mail</a></li>
        
    </ul>
</nav>
</div>