<div>

    <div class="wrapper">
        <div id="grid">

            <div id="branding">
                <h1 id="name">Alexander Lövberg</h1>
                <img id="portrait" src="/img/logo.gif" alt="Portrait">
                <h1 id="title">Gameplay Programmer</h1>
            </div>

            <nav>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Projects</a></li>
                    <li><a href="">LinkedIn</a></li>
                    <li><a href="">CV</a></li>
                </ul>
            </nav>
        </div>
    </div>

</div>