<!DOCTYPe html>
<html lang="en-ca">
<head>
    <meta charset="utf-8">
    <title>Alexander Lövberg {% if page.title %} | {{page.title}} {% endif %}</title>
    <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
    <meta name="description" content="{{page.meta}}">
    <meta name="keyword" content="alexander, lovberg, gameplay programmer, desgin, tree branch, programmer, designer, portfolio">
    <link rel="icon" href="{{site.baseurl}}/img/logo.gif">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>
<body>

    <header class="boxshadow">
        {% include header.html %}
    </header>

    <content>
        {{content}}
    </content>

    <footer>
        {% include footer.html %}
    </footer>

</body>
</html>