<!DOCTYPe html>
<html lang="en-ca">
<head>
    <meta charset="utf-8">
    <title>Alexander Lövberg {% if page.title %} | {{page.title}} {% endif %}</title>
    <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
    <meta name="description" content="{{page.meta}}">
    <link rel="icon" href="{{site.baseurl}}/img/logo.gif">
</head>
<body>

    {{content}}
        

<header>
    {% include header.html %}
</header>


<!-- <footer>
    {% include footer.html %}
</footer> -->

</body>
</html>