---
layout: default
---
<div class="backgroundblur fadeindelayed" style="background-image: url({{site.baseurl}}/{{page.coverImg}})"></div>
<div class="game">
    <div id="overlay">
        <div id="content"  class="fadein">
            <div id="title">
                <h1>{{page.title}}</h1>
                <!-- <h3>
                    <ul>
                        • 
                        {% for tag in page.tags %} 
                        <li> {{tag}}  </li> •
                        {% endfor %}
                    </ul>
                </h3> -->

                <br>
                {% if page.github %}
                    <a class="button" href="{{page.github}}">GitHub</a>
                {% endif %}

{% if page.engine %}
                <div id="horizontalGrid2">
                    <iframe class="video" src="{{page.trailer}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    <div>
                      <ul class="nopadding">
                        <li>Roles: {{page.roles}}</li>
                        <li>Time: {{page.duration}}</li>
                        <li>Engine: {{page.engine}}</li>
                        <li>Language: {{page.languages}}</li>
                        <li>Genre: {{page.genre}}</li>
                        <li>Team Size: {{page.teamSize}}</li>
                        <li>Data: {{page.year}}</li>

                      </ul>
                    </div>
                  </div>
{% endif %}
                <!-- {% if page.engine %}
                <table>
                    <tr>
                        <td class="justifyright"><b>Engine : </b></td>
                        <td>{{page.engine}}</td>
                    </tr>
                    <tr>
                        <td class="justifyright"><b>Language : </b></td>
                        <td>{{page.languages}}</td>
                    </tr>
                    <tr>
                        <td class="justifyright"><b>Duration : </b></td>
                        <td>~{{page.duration}} months</td>
                    </tr>
                    <tr>
                        <td class="justifyright"><b>Roles : </b></td>
                        <td>{{page.roles}}</td>
                    </tr>
                </table>
                {% endif %} -->

            </div>
        <div>
            <p>
                {{content}}
            </p>
        </div>

    </div>
    </div>
</div>
